/* AddItem.css */

.add-item {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #262627;
    min-height: 100vh;
  }
  
  .add-item h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
  }
  
  .add-item form {
    width: 100%;
    max-width: 700px; /* Match the width of the home page content */
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
  button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    /* width: 100%; */
  }
  
  button:hover {
    background-color: #45a049;
  }
  